<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
REGISTERATION FORM
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username"><br>
    <input type="text" name="firstname" placeholder="Enter first name"><br>
    <input type="text" name="lastname" placeholder="Enter last name"><br>
    <input type="email" name="email" placeholder="Enter ur email"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="password" name="cpassword" placeholder="RE-Enter password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>